# Dossiers
/node_modules
/dist

# Fichiers
.env
.DS_Store
test.mp3
/vosk-model-fr
S2T_Vosk.py
test.py
aimigos
__pycache__
Dis-Robot_fr_mac_v3_0_0
porcupine_params_fr.pv
/Image
vosk-model-fr-large
vosk-model-fr-0.6-linto-2.2.0

# Fichiers de configuration
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Fichiers de build
/build
/out
/.next

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers volumineux
aimigos/lib/python3.8/site-packages/llvmlite/binding/libllvmlite.dylib
aimigos/lib/python3.8/site-packages/numpy/.dylibs/libopenblas64_.0.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libtorch_cpu.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libtorch_cuda.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libc10.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libc10_cuda.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_detectron_ops_gpu.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_gpu.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_nvrtc.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_observers.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_hip.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_detectron_ops_cpu.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_perfkernels_avx2.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_perfkernels_avx512.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_perfkernels_avx.dylib
aimigos/lib/python3.8/site-packages/torch/lib/libcaffe2_observers_gpu.dylib
