# Dossiers
/node_modules
/dist

# Fichiers
.env
.DS_Store
test.mp3
/vosk-model-fr
S2T_Vosk.py
test.py
/aimigos
__pycache__
Dis-Robot_fr_mac_v3_0_0
porcupine_params_fr.pv

# Fichiers de configuration
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Fichiers de build
/build
/out
/.next

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
